@import "reset.css";
@import "variables/global.css";
@import "themes/dark.css";

html {
  font: var(--font-m);
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  border-color: hsl(var(--border));
  height: 100%;
}
