@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.buttonD {
  background: var(--bg-button-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  color: var(--color);
  border: none;
  padding: var(--padding);
  display: flex;
  border: var(--border);
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
          "wdth" 100,
          "YTLC" 500;
}
.red {
  --bg-button-color: #FF284C;
  --color: white;
  --padding: 18px 32px;
}
.red:hover {
  --bg-button-color: #FF627C;
  --color: #white;
}
.red:active{
  --bg-button-color: #D10628;
  --color: ;
}
.gray {
  --padding: 18px 32px;
  --bg-button-color: #ffffff;
  --color: #000000;
  --border: 1px solid black
}
.gray:hover {
  --bg-button-color: #272B38;
  --color: white;
  --border: none;
}
.gray:active{
  --bg-button-color: #181a22;
  --color: white;
  --border: none;
}
.grayv2 {
  --padding: 18px 32px;
  --bg-button-color: #3E414E;
  --color: white;
  --border: 1px solid black
}
.grayv2:hover {
  --bg-button-color: #272B38;
  --color: white;
  --border: none;
}
.grayv2:active{
  --bg-button-color: #181a22;
  --color: white;
  --border: none;
}
.blue {
  --padding: 10px 20px;
  --bg-button-color: #467EDB;
  --color: white;
}
.blue:hover {
  --bg-button-color: #213d6a;
  --color: white;
}
.blue:active{
  --bg-button-color: #162947;
  --color: white;

}
.green {
  --padding: 10px 20px;
  --bg-button-color: #55BC44;
  --color: white;
}
.green:hover {
  --bg-button-color: #7bbd6c;
  --color: white;
}
.green:active{
  --bg-button-color: #4a9f3c;
  --color: white;
}