.input_global {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-input-color);
  color: var(--color);
  height: 61px;
  border-radius: 4px;
  font-size: 18px;
  border: 1.5px solid var(--border-color);
}
.input {
  width: 100%;
  padding: 0px 18px;
}
.secondary {
  --bg-input-color: white;
  --border-color: #4A8FB6;
  --color: black;
}
.primary {
  --bg-input-color: white;
  --border-color: white;
  --color: black;
}
.error {
  --border-color: #ef4444;
}
