.search {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: white;
  max-height: 47px;
  padding-left: 11px;
  padding-right: 6px;
}
.input {
  width: 100%;
  border-color: white;
  padding: 0px;
}
.button {
  display: flex;
  align-items: center;
}
