.primary{
    cursor: pointer;
    width: 33px;
    height: 33px;
    appearance: none;
    background: #7E8189;
    border: 5px solid #DBDBDB;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
}
.primary:checked {
  background-color: #FF284C;
}
.secondary {
    cursor: pointer;
    width: 59px; /* Новая ширина контейнера */
    height: 33px; /* Новая высота контейнера */
    appearance: none;
    background-color: #DBDBDB;
    border-radius: 33px; /* Закругляем под высоту контейнера */
    position: relative;
    transition: background-color 0.3s ease;
}

.secondary::before {
    content: '';
    position: absolute;
    width: 23px; /* Ширина круга */
    height: 23px; /* Высота круга */
    background-color: #7E8189;
    border-radius: 50%;
    top: 5px;  /* Центрируем круг по вертикали */
    left: 5px; /* Стартовое положение круга */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.secondary:checked::before {
    transform: translateX(26px); /* Перемещаем круг вправо */
    background-color: #FF284C; /* Изменяем цвет круга при активации */
}

